* {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  background-color: hsl(218deg, 28%, 13%);
}
body .bg-desktop {
  width: 100%;
}
body button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 1rem 2.3rem;
  border-radius: 2rem;
  background-color: hsl(198deg, 60%, 50%);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
body button:hover {
  background-color: hsl(198deg, 97%, 73%);
}
body .menu {
  background-color: hsl(219deg, 30%, 18%);
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 3rem 7rem;
}
body .menu .subpage a {
  text-decoration: none;
  margin-left: 3rem;
  color: rgb(173, 173, 173);
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  transition: 0.2s;
}
body .menu .subpage a:hover {
  color: hsl(0deg, 0%, 100%);
  text-decoration: underline;
}
body .intro {
  background-color: hsl(219deg, 30%, 18%);
  background-image: url(images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  font-family: "Raleway", sans-serif;
  display: flex;
  margin: 0 auto;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
body .intro .box {
  margin-top: 5rem;
  width: 900px;
}
body .intro img {
  width: 50%;
}
body .intro h1 {
  margin-bottom: 2rem;
  font-size: 50px;
}
body .intro p {
  margin-bottom: 2rem;
  font-size: 17px;
}
body .container {
  background-color: hsl(218deg, 28%, 13%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
body .container .benefits {
  font-family: "Raleway", sans-serif;
  margin-top: 2rem;
  width: 1000px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas: "a b c" "d e f";
  grid-template-columns: 40% 20% 40%;
  text-align: center;
}
body .container .benefits .benefit {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .container .benefits .benefit img {
  margin-bottom: 2em;
}
body .container .benefits .benefit:nth-child(1) {
  grid-area: a;
}
body .container .benefits .benefit:nth-child(2) {
  grid-area: c;
}
body .container .benefits .benefit:nth-child(3) {
  grid-area: d;
}
body .container .benefits .benefit:nth-child(4) {
  grid-area: f;
}
body .container .productive {
  font-family: "Raleway", sans-serif;
  margin-top: 5rem;
  width: 1350px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-areas: "a b c";
  grid-template-columns: 55% 5% 40%;
}
body .container .productive .stay {
  grid-area: a;
  width: 100%;
}
body .container .productive .info {
  grid-area: c;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-around;
}
body .container .productive .info .fyloLink {
  padding-bottom: 5px;
  border-bottom: 1px solid hsl(176deg, 68%, 64%);
  color: hsl(176deg, 68%, 64%);
  display: flex;
  align-items: center;
  fill: #fff;
  transition: 0.2s;
}
body .container .productive .info .fyloLink:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
body .container .productive .info a {
  display: flex;
  text-decoration: none;
}
body .container .productive .info i {
  margin-left: 5px;
}
body .container .reviews {
  font-family: "Open sans", sans-serif;
  margin-top: 7rem;
  width: 1300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .container .reviews .review {
  background-color: hsl(219deg, 30%, 18%);
  color: rgb(207, 207, 207);
  padding: 2rem;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 10px;
}
body .container .reviews .review h4 {
  font-size: 16px;
}
body .container .reviews .review .author img {
  width: 10%;
  border-radius: 50%;
  margin-right: 0.5rem;
}
body .container .reviews .review .author {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
body .container .reviews .review .author ul {
  list-style: none;
}
body .container .reviews .review .author .name {
  color: #fff;
  font-weight: 700;
}
body .container .reviews .review .author .position {
  color: rgb(189, 189, 189);
}
body .container .reviews .review:first-child {
  position: relative;
}
body .container .reviews .quotes {
  position: absolute;
  top: -35px;
  left: -5px;
}
body .container .access {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 1rem;
  text-align: center;
  width: 800px;
  padding: 2rem 4rem;
  background-color: hsl(217deg, 28%, 15%);
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  position: relative;
  bottom: -180px;
}
body .container .access .email {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  grid-template-columns: 55% 30%;
  grid-template-areas: "a b" "c d";
  padding-bottom: 1rem;
}
body .container .access .email .input {
  padding: 1rem 3rem;
  color: hsl(0deg, 0%, 59%);
  border-radius: 40px;
  border: 1px solid hsl(0deg, 0%, 59%);
  margin-right: 2rem;
  width: 100%;
  font-size: 16px;
}
body .container .access .email .error {
  margin-top: 0.3rem;
  display: none;
  color: hsl(0deg, 100%, 63%);
  grid-area: c;
}
body footer {
  background-color: hsl(216deg, 53%, 9%);
  padding: 12rem 7rem 3rem 7rem;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
}
body footer .footer-bottom {
  align-items: flex-start;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 30% 15% 10% 10% 15%;
  grid-template-areas: "a b c d e";
}
body footer .footer-logo {
  width: 20%;
  margin-bottom: 3rem;
}
body footer ul {
  list-style: none;
}
body footer li {
  color: hsl(0deg, 0%, 87%);
  margin-bottom: 10px;
  transition: 0.2s;
}
body footer .about li:hover, body footer .contact li:hover {
  cursor: pointer;
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
}
body footer .location {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
body footer .location .location-logo {
  width: 3%;
  margin-right: 1rem;
}
body footer .social {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .social i {
  color: #fff;
  border: 0.5px solid hsl(0deg, 0%, 59%);
  margin-left: 15px;
  width: 10px;
  height: 10px;
  padding: 15px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
body footer .social i:hover {
  cursor: pointer;
  color: hsl(176deg, 68%, 64%);
  border: 0.5px solid hsl(176deg, 68%, 64%);
}
body footer .social a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body .menu {
    padding: 2rem;
    font-size: 14px;
  }
  body .menu .menu-logo {
    width: 20%;
  }
  body .menu .subpage a {
    margin-left: 1rem;
  }
  body .intro {
    background-image: url(images/bg-curvy-mobile.svg);
  }
  body .intro .box {
    width: 350px;
  }
  body .intro h1 {
    font-size: 30px;
  }
  body .intro img {
    width: 80%;
  }
  body .container .benefits {
    width: 350px;
    display: flex;
    flex-direction: column;
  }
  body .container .productive {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  body .container .reviews {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  body .container .access {
    width: 300px;
  }
  body .container .access .email {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  body .container .access .email .input {
    margin: 0;
    width: 90%;
  }
  body .container .access .email .btn {
    margin-top: 1.2rem;
    width: 123%;
  }
  body footer .footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  body footer .footer-bottom .social {
    margin: auto;
    justify-content: space-between;
    gap: 1rem;
  }
  body footer .footer-bottom .social i {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */