* {
    padding: 0;
    margin: 0;
}
body {
    color: #fff;
    background-color: hsl(218, 28%, 13%);
    .bg-desktop{
        width: 100%;
    } 
    button {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 700;
        padding: 1rem 2.3rem;
        border-radius: 2rem;
        background-color: hsl(198, 60%, 50%);
        color: white;
        cursor: pointer;
        transition: 0.2s;
    }
    button:hover {
        background-color: hsl(198, 97%, 73%);
    }
    .menu {
        background-color: hsl(219, 30%, 18%);
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        padding: 3rem 7rem;
        .subpage {
            a {
                text-decoration: none;
                margin-left: 3rem;
                color: rgb(173, 173, 173);
                font-family: 'Raleway', sans-serif;
                cursor: pointer;
                transition: 0.2s;
            }
            a:hover {
                color: hsl(0, 0%, 100%);
                text-decoration: underline;
            }
        }
    }
    .intro{
        background-color: hsl(219, 30%, 18%);
        background-image: url(images/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        font-family: 'Raleway', sans-serif;
        display: flex;
        margin: 0 auto;
        padding-bottom: 2rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
        .box {
            margin-top: 5rem;
            width: 900px;
        }
        img {
            width: 50%;
        }
        h1 {
            margin-bottom: 2rem;
            font-size: 50px;
        }
        p {
            margin-bottom: 2rem;
            font-size: 17px;
        }
    }
    .container {
        background-color: hsl(218, 28%, 13%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        .benefits {
            font-family: 'Raleway', sans-serif;
            margin-top: 2rem;
            width: 1000px;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-areas: "a b c""d e f";
            grid-template-columns: 40% 20% 40%;
            text-align: center;
            .benefit {
                margin-top: 4rem;
                display: flex;
                flex-direction: column;
                align-items:center;
                img {
                    margin-bottom: 2em;
                }
            }
            .benefit:nth-child(1) {
                grid-area: a;
            }
            .benefit:nth-child(2) {
                grid-area: c;
            }
            .benefit:nth-child(3) {
                grid-area: d;
            }
            .benefit:nth-child(4) {
                grid-area: f;
            }
        }
        .productive {
            font-family: 'Raleway', sans-serif;
            margin-top: 5rem;
            width: 1350px;
            display: grid;
            align-items: center;
            justify-content: space-between;
            grid-template-areas: "a b c";
            grid-template-columns: 55% 5% 40%;
            .stay {
                grid-area: a;
                width: 100%;
            }
            .info {
                grid-area: c;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                justify-content: space-around;
                .fyloLink {
                    padding-bottom: 5px;
                    border-bottom: 1px solid hsl(176, 68%, 64%);
                    color: hsl(176, 68%, 64%);
                    display: flex;
                    align-items: center;
                    fill: #fff;
                    transition: 0.2s;
                }
                .fyloLink:hover {
                    color: #fff;
                    border-bottom: 1px solid #fff;
                }
                a {
                    display: flex;
                    text-decoration: none;
                }
                i {
                    margin-left: 5px;
                }
            }
        }
        .reviews {
            font-family: 'Open sans', sans-serif;
            margin-top: 7rem;
            width: 1300px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .review {
                background-color: hsl(219, 30%, 18%);
                color: rgb(207, 207, 207);
                padding: 2rem;
                width: 350px;
                display: flex;
                flex-direction: column;
                margin: 1rem;
                border-radius: 10px;
                h4 {
                    font-size: 16px; 
                }
                .author img{
                    width: 10%;
                    border-radius: 50%;
                    margin-right: 0.5rem
                }
                .author {
                    margin-top: 2rem;
                    display: flex;
                    align-items: center;
                    ul {
                        list-style: none;
                    }
                    .name {
                        color: #fff;
                        font-weight: 700;
                    }
                    .position {
                        color: rgb(189, 189, 189);
                    }
                }
            }
            .review:first-child{
                position: relative;
            }
            .quotes {
                position: absolute;
                top: -35px;
                left: -5px;
            }
        }
        .access {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            margin-top: 1rem;
            text-align: center;
            width: 800px;
            padding: 2rem 4rem;
            background-color: hsl(217, 28%, 15%);
            font-family: 'Raleway', sans-serif;
            border-radius: 10px;
            position: relative;
            bottom: -180px;
            .email {
                display: grid;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                grid-template-columns: 55% 30%;
                grid-template-areas: "a b""c d";
                padding-bottom: 1rem;
                .input {
                    padding: 1rem 3rem;
                    color:hsl(0, 0%, 59%);
                    border-radius: 40px;
                    border: 1px solid hsl(0, 0%, 59%);
                    margin-right: 2rem;
                    width: 100%;
                    font-size: 16px;
                }
                .error {
                    margin-top: 0.3rem;
                    display: none;
                    color: hsl(0, 100%, 63%);
                    grid-area: c;
                }
            }
        }
    }
    footer {
        background-color: hsl(216, 53%, 9%);
        padding: 12rem 7rem 3rem 7rem;
        display: flex;
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
        justify-content: space-between;
        .footer-bottom {
            align-items: flex-start;
            display: grid;
            justify-content: space-between;
            grid-template-columns: 30% 15% 10% 10% 15%;
            grid-template-areas: "a b c d e";
        }
        .footer-logo {
            width: 20%;
            margin-bottom: 3rem;
        }
        ul {
            list-style: none;
        }
        li {
            color: hsl(0, 0%, 87%);
            margin-bottom: 10px;
            transition: 0.2s;
        }
        .about, .contact {
            li:hover {
                cursor: pointer;
                color:#fff;
                text-shadow: 0px 0px 1px #fff;
            }
        }
        .location {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            .location-logo {
                width: 3%;
                margin-right: 1rem;
            }
        }
        .social {
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                color: #fff;
                border: 0.5px solid hsl(0, 0%, 59%);
                margin-left: 15px;
                width: 10px;
                height: 10px;
                padding: 15px;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                transition: 0.2s;
            }
            i:hover{
                cursor: pointer;
                color: hsl(176, 68%, 64%);
                border: 0.5px solid hsl(176, 68%, 64%);
            }
            a {
                text-decoration: none;
            }
        } 
    }
}
@media only screen and (max-width: 600px) {
    body {
        .menu {
            padding: 2rem;
            font-size: 14px;
            .menu-logo {
                width: 20%;
            }
            .subpage {
                a {
                    margin-left: 1rem;
                }
            }
        }
        .intro {
            background-image: url(images/bg-curvy-mobile.svg);
            .box {
                width: 350px;
            }
            h1 {
                font-size: 30px;
            }
            img {
                width: 80%;
            }
        }
        .container {
            .benefits {
                width: 350px;
                display: flex;
                flex-direction: column;
            }
            .productive {
                display: flex;
                flex-direction: column;
                width: 400px;
            }
            .reviews {
                display: flex;
                flex-direction: column;
                width: 350px;
            }
            .access {
                width: 300px;
                .email {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .input {
                        margin: 0;
                        width: 90%;
                    }
                    .btn {
                        margin-top: 1.2rem;
                        width: 123%;
                    }
                } 
            }
        }
        footer {
            .footer-bottom {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                .social {
                    margin: auto;
                    justify-content: space-between;
                    gap: 1rem;
                    i {
                        margin: 0;
                    }
                }
            }
        } 
    }
}